<footer>
  	<div class="container">
      	<div class="row">
			<!-- Col Start -->
			<div class="col-sm-2">
			  	<div class="footer_links">			    	
		      		<h4>Tourist</h4>
				    <ul>
						<li><a href="#">Instant Tour</a></li>
						<li><a href="#">Find a Tour</a></li>
						<li><a href="#">Find a Guide</a></li>
						<li><a href="#">Shore Excursion</a></li>
				    </ul>
				</div>
			</div>
			<div class="col-sm-2">
			  	<div class="footer_links">
		    		<h4>Guide</h4>
		      		<ul>
						<li><a href="#">Become a Guide</a></li>
						<li><a href="#">General Information</a></li>
						<li><a href="#">Policy</a></li>
		      		</ul>			    	
			  	</div>
			</div>
			<!-- Col End -->
			<!-- Col Start -->
			<div class="col-sm-4 text-center">
				<div>
				    <a href="index.html"><img src="assets/images/footer-logo.png" alt=""></a>				    
			  	</div>
			  	<div class="footer_social">
					<a href="https://www.facebook.com/Officialtourme/" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/officialtourme" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="https://www.pinterest.com/tour_me" target="_blank"><i class="fa fa-pinterest-p"></i></a>
					<a href="https://www.instagram.com/tourme/" target="_blank"><i class="fa fa-instagram"></i></a>
			  	</div>			  	
			  	<p>Copyright© 2017 International Touring Apps, LLC</p>
			</div>
			<!-- Col End -->
			<!-- Col Start -->
			<div class="col-sm-4">          
				<div class="footer_links">
			    	<h4>General</h4>
			    	<div class="row">
			    		<div class="col-sm-6">
			        		<ul>
								<li><a href="#">Faqs</a></li>
								<li><a href="#">Cancellation Policy</a></li>
								<li><a href="#">Privacy Policy</a></li>
								<li><a href="#">Terms & Conditions</a></li>
			        		</ul>
			        	</div>
			        	<div class="col-sm-6">
			        		<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="contact.html">Contact Us</a></li>
								<li><a href="#">Shore Excursion</a></li>
			        		</ul>
			        	</div>
	        		</div>   	
			  	</div>			  	
			</div>
			<!-- Col End -->			
      	</div>
    </div>
</footer>