<div class="row">
	<div class="col-sm-12">
		<h3>Guides</h3>		
	</div>
	{{#each guides as |guide|}}
		<div class="col-lg-2 col-md-3 col-sm-4">	 	
			<div class="guide">
				<img src={{guide.img}}>
				<p>{{guide.name}}</p>
				<br>
								
				<div class="desc">{{guide.desc}}</div>
				<br>
				
				<div class='rate'> {{guide.rate}} $ / Hour</div>
			</div>		
		</div>
	{{/each}}
	<div class="col-sm-12 see-more">
		<a href="">See more...</a>	
	</div>
</div>