<div class="row">
	<div class="col-sm-12">
		<h3>Guides</h3>		
	</div>
	{{#each guides as |guide|}}
		<div class="col-sm-3">	 	
			<div class="guide">
				<img src={{guide.img}}>
				<p>{{guide.name}}</p>
				<br>
								
				<span>{{guide.desc}}</span>
				<br>
				
				<div class='rate'> {{guide.rate}} $ / Hour</div>
			</div>		
		</div>
	{{/each}}
</div>