<header>
    <div class="container">
    	<div class="row">
			<div class="col-sm-6">		        
	          	<a href="#" class="logo"><img src="assets/images/logo.png" alt=""></a>		        
	          	<a href="#" class="lang"><img src="assets/images/flag-icon.png" alt=""> Spanish </a> |
	          	<a href="#" class="lang"><img src="assets/images/currency-icon.png" alt=""> USD</a>		        
			</div>					      	
	      	<div class="col-sm-6 menu">		        
	        	<ul>
		            <li>{{link-to 'About Us' 'about'}}</li>	            
		            <li><a href="#">Help</a></li>
		            <li><a href="#">Sign In</a></li>
		            <li><a href="#">Sign Up</a></li>
	        	</ul>		        
	      	</div>	      	
      	</div>
    </div>
</header>