<header>
    <div class="container">
    	<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4">
				<div class="logo-region">		        
					<ul class="logo-nav">
						<li class="dropdown">
		          			<a href="#" class="logo"><img src="assets/images/logo.png" alt=""></a>		        
		          		</li>
						<li class="dropdown">
							<a class="lang dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      							<img src="assets/images/flag-icon.png" alt=""> Spanish <span class="caret"></span> 
    						</a>
		    				<ul class="dropdown-menu">
		      					<li>Russian</li>
		      					<li>English</li>
		      					<li>Chinese</li>
		    				</ul> 
		    			</li>
		    			<li class="dropdown">
    						<a class="lang dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
      							<img src="assets/images/currency-icon.png" alt=""> USD<span class="caret"></span>
    						</a>
		    				<ul class="dropdown-menu">
		      					<li>EURO</li>
		      					<li>GBP</li>
		      					<li>RUB</li>
		    				</ul>		          	
		    			</li>
		    		</ul>
	          	</div>
	          	<a class="menu-btn" href="#"><span></span></a> 
	        </div>
	        <div class="col-xs-12 col-sm-6 col-md-4">
	          	<div class="icon-addon addon-lg">
                    <input type="text" placeholder="Search" class="form-control" id="search">
                    <label for="search" class="glyphicon glyphicon-search" title="search"></label>
                </div>                             
			</div>					      	
	      	<div class="col-xs-12 col-sm-12 col-md-4">		        
	      		<nav class="navbar menu">
		        	<ul class="nav navbar-nav">
			            <li>{{link-to 'About Us' 'about'}}</li>	            
			            <li><a href="#">Help</a></li>
			            <li><a href="#">Sign In</a></li>
			            <li><a href="#">Sign Up</a></li>
		        	</ul>		        
		        </nav>
	      	</div>	      	
      	</div>
    </div>
</header>