<button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
    <i class="glyphicon glyphicon-align-left"></i>
    Toggle Filter
</button>

<ul class="nav nav-tabs">
	<li class="active"><a href="#">Malaga</a></li>
	<li><a href="#">Barcelona</a></li>			
</ul>