@import "bootstrap";
@import "bootstrap/theme";
@import "ember-searchable-select/style";

ul {
	list-style: none;
	padding: 0px;
}

.container {
	width: 100% !important;
}

header {    
    width: 100%;    
    padding: 20px 0px 14px;

    .container {
        box-shadow: 0px 17px 20px -14px #ddd;
        padding-bottom: 22px;
    }

    .logo {
    	img {
    		height: 51px;
            width: 100px;
    	}

    	margin-right: 27px;
    }

    .lang {
    	img {
    		height: 23px;
            width: 23px;
    	}
    	color: #a3a3a3;
    }

    .menu {
    	line-height: 4vw;    	
    	text-align: right;

    	li {
    		display: inline-block;
    		margin-right: 1vw;

    		a {
    			color: #a3a3a3;
    		}
    	}

    }

    .logo-region { float: left; }    
}

.footer_links {
	a {
		color: #8d9197;
	}
}

footer {
	.container {
		border-top: 1px solid #ddd;
		padding-top: 20px;
	}
}

.footer_social {

	margin-top: 1vw;
	margin-bottom: 3vw;

	a {
		display: inline-block;
		width: 27px;
		height: 27px;
		margin-left: 1px;
		line-height: 27px;
		color: #8d9197;
		text-align: center;
		border: solid 1px #8d9197;
		border-radius: 100%;
		-ms-border-radius: 100%;
		-webkit-border-radius: 100%;
	}
	
	a:hover {
		color: #fff;
		border-color: #ec0928;
		background-color: #ec0928;
	}
}

.sidebar-header {
	background: red;
    color: white;
    height: 40px;    
    padding-left: 20px;
    line-height:40px;
    font-weight: bold;
}

.gray {
	background: #f2f2f2;
}

.text-to-right {
    text-align: right;
}

.sidebar-region {
	padding: 20px 0 20px 20px;
    
    .multiselect-checkboxes {
    	label {
    		font-weight: normal;
    	}
    }

}

.guide {
	padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    margin-bottom: 4vw;

    img {
    	width: 70%;
    }
	
	.rate {
		border-top: 1px solid #ddd;
	}
	
}

.excursion, .tour {	    
    border-bottom: 1px solid #ddd;
    color: #d8d8d8;    
    margin-bottom: 4vw;
    padding-bottom: 2vw;

    img {
    	width: 100%;
    }

    .name {
    	color: #eeb554;
	    font-size: 0.8vw;
	    margin-top: 0.5vw;
    }

    .loc {
    	font-weight: bold;
    	color: black;        
        font-size: 1vw;
    }

    .price {
        font-size: 0.8vw;    	        
    }

    span {        
        font-size: 1vw;
        text-align: left;
    }
}

.see-more {
    text-align: right;
    margin-top: 1vw;
    
    a {
        color: red;
    }
}

/* search button */
.center-block {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  float: left;
  position: relative;
  margin-top: 9px;
  width: 220px;
  color: #555;
  display: block;
  margin-left: 13px;
  
  &:after, &:before {
    display: table;
    content: " ";
  }
  &:after {
    clear: both;
  }
  &.addon-md .glyphicon, .glyphicon, &.addon-md .fa, .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px;
  }
  &.addon-lg .form-control {
    line-height: 1.33;
    height: 30px;
    font-size: 12px;
    padding: 10px 16px 10px 26px;
  }
  &.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
  }
  &.addon-lg {
    .fa, .glyphicon {      
        font-size: 14px;
        margin-left: 0;
        left: 4px;
        top: -2px;
    }
  }
  &.addon-md .form-control, .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
  }
  &.addon-sm {
    .fa, .glyphicon {
      margin-left: 0;
      font-size: 12px;
      left: 5px;
      top: -1px;
    }
  }
  .form-control:focus + .glyphicon, &:hover .glyphicon, .form-control:focus + .fa, &:hover .fa {
    color: #2580db;
  }
}
