<div class="row">
    <div class="col-sm-3">
      	{{#gd-filter}}{{/gd-filter}}      
    </div>
    <div class="col-sm-9">
    	<ul class="nav nav-tabs">
			<li class="active"><a href="#">Malaga</a></li>
			<li><a href="#">Barcelona</a></li>			
		</ul>		
		{{#gd-tours}}{{/gd-tours}}
		{{#gd-shore-excurtions}}{{/gd-shore-excurtions}}
		{{#gd-guides}}{{/gd-guides}}      
    </div>
</div>